@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/Inconsolata.ttf') format('truetype');
  /* También puedes usar format('opentype') o format('woff') dependiendo del formato de la fuente */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F0F2F5;
  min-height: 100vh;
}

.toolbar {
  background-color: #0F385A;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.toolbar h1 {
  margin: 0;
  margin-left: 10px;
  color: #fff;
}

nav {
  margin-left: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

nav li {
  width: 100px;
  align-items: center;
  text-align: center;
  height: 35px;
  border-radius: 4px;
  display: flex;
}

.menu-selected {
  background: rgba(0, 0, 0, .2);
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  width: 100%;
}

nav a:hover {
  color: #b6b6b6;
}

.content {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.footer {
  background-color: #0F385A;
  /*#673ab7;*/
  padding: 10px;
  text-align: center;
  color: #fff;
}

.my-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin-top: 30px;
  width: 50%;
}

.card-credits {
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.btn{
  min-width: 100px;
  min-height: 30px;
  background: #2e6da4;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.btn-w{
  min-width: 100px;
  min-height: 30px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.8;
  color: #e4e4e4;
}

.default-button{
  width: 30%;
  margin: 10px;
  display: block;
  margin-top: 10px;
}

.default-button:disabled,
.default-button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.delete-button{
  background: #E4E6EB;
  width: 30%;
  margin: 10px;
  display: block;
  margin-top: 10px;
  color: #333333;
}

.delete-button:hover{
  background: #bec0c5;
  color: #000000;
}

.card-options{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


.new-card-button{
  margin: 20px;
}

.save-button{
  margin: 20px;
}

.options-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-container {
  padding: 20px;
}

.form-label {
  margin-bottom: 10px;
  display: block;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-submit {
  background-color: #0F385A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: rgb(0, 76, 158);
}

.modal-header {
  color: #0F385A;
  padding: 5px;
  text-align: center;
}

.modal-body {
}

.move-card {
  margin-bottom: 20px;
}