@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/Inconsolata.ttf') format('truetype');
  /* También puedes usar format('opentype') o format('woff') dependiendo del formato de la fuente */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
}

.toolbar {
  background-color: #0F385A;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.toolbar h1 {
  margin: 0;
  margin-left: 10px;
  color: #fff;
}

nav{
  margin-left: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #4c545a;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.footer {
  background-color: #0F385A;/*#673ab7;*/
  padding: 10px;
  text-align: center;
  color: #fff;
}

.my-cards{
  display: flex;
}

.card-container{
  margin: 30px;
}